{% extends './base.html' %}

{% block title %}Chat{% endblock %}

{% block customCSS%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}

{% block body %}

<div class="control-panel">
    <div class="panel-up">
        <h1>Voice-AI</h1>
        <img class="logo" src="{{ url_for('static', filename='img/chat-logo.png') }}" alt="" width="200">
    </div>
    <div class="panel-donw">
        <div>
            <p>{{current_user.fullname}}</p>
        </div>
        <div>
            <a class="logout-btn" href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>
</div>

<div class="chat">
    <div class="messages">

    </div>
    <div class="promt">
        <input type="text" id="user-input">
        <button onclick="sendMessage()">Enviar</button>
    </div>
</div>

<!-- CSRF Token Meta Tag -->
<meta name="csrf-token" content="{{ csrf_token() }}">

<script>

    function sendMessage() {
        // Get user message
        let userInput = document.getElementById('user-input').value;
        document.getElementById('user-input').value = ''; // Clear the input field

        // Show user message in the chat
        let chatContainer = document.getElementsByClassName('messages')[0];
        chatContainer.insertAdjacentHTML('beforeend', `<div class="user-message">${userInput}</div>`);

        // Send user message and get AI response
        getAIResponse(userInput, function(aiResponse) {
            // Show AI response in the chat
            chatContainer.insertAdjacentHTML('beforeend', `<div class="ai-message">${aiResponse}</div>`);
        });
    }

    function getAIResponse(text, callback) {
        var xhr = new XMLHttpRequest();
        var csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

        xhr.open('POST', '/chat_page', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('X-CSRFToken', csrftoken); // Include CSRF token

        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                callback(xhr.responseText);
            } else if (xhr.readyState == 4) {
                console.log('Error: ' + xhr.status); // For debugging
            }
        };
        xhr.send(JSON.stringify({texto: text}));
    }
</script>

{% endblock %}
